body {
    font-family: "Asap";
}

p {
    font-size: 20px;
}

.hidden {
    display: none;
}

/* Header */
.navbar-brand:hover {
    color: #007bff;
}

#main {
    padding-top: 50px;
}

#file_upload {
    border: 2px solid darkgray;
    padding: 10px 15px 0px 15px;
}

#file_upload:hover {
    cursor: pointer;
}

#file_upload > p {
    display: inline-block;
    margin-right: 10px;
}

#file_upload > img {
    width: 16px;
    height: 16px;    
}

/* Audio  */
#audio_section {
    margin-top: 50px;
    margin-bottom: 50px;
}

#audio_text {
    width: 100%;
}

/* Transcript */
#transcript_section {

}

#transcript {
    margin-top: 50px;
    margin-bottom: 50px;
}

#transcript > span {
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 50px;
}

#transcript > span:hover {
    cursor: pointer;
}

#transcript_description,
#transcript_instructions {
    width: 100%;
}