<server description="RevAPI Client">
    <featureManager>
        <feature>microprofile-1.3</feature>
    </featureManager>

    <httpEndpoint httpPort="9080" httpsPort="9081" id="defaultHttpEndpoint"  host="*" />

    <application name="speechScrubber" context-root="${appContext}" location="${appLocation}" type="war"></application>

</server>